benchmark
zfec
gen_test_vec
test_fec
test_recovery
tests.txt
*.o
*.a
*.so

# CLion IDE files
.idea/

# Apple Stuff
xcuserdata/
*.xcodeproj
.DS_Store

CMakeFiles/
*CMakeFiles/*
CMakeCache.txt
*Makefile
*cmake_install.cmake
*.swp
build/

